body {
    margin: 0;
}

.main-bx{
    height: 100vh;
    background-color: rgb(248, 210, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote{
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

