body, html {
    margin: 0;
    height: 100%;
}

.gabriela-regular {
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .main-bx {
    height: 100vh; /* Full height of the viewport */
    background: radial-gradient(circle,  rgb(248, 210, 234) 3%, rgb(0, 204, 255) 20%, rgb(248, 210, 234) 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Positioning context for the overlay */
    overflow: hidden; /* Prevent overflow */
    z-index: 1;
}

.main-bx::after {
    content: '';
    position: absolute; /* Position the overlay absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/grainOverlay2.png'); /* Path to your grain texture */
    background-size: cover; /* Ensure the grain texture covers the entire area */
    opacity: 0.17; /* Adjust opacity for the desired effect */
    pointer-events: none; /* Prevent interaction with the overlay */
    z-index: 2;
}

#quote{
    font-family: "Anton", serif;
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(249 232 243);
    TEXT-ALIGN: center;
    padding: 3rem;
    z-index: 3;
    
}






.clock-container{
    height: 100vh; /* Full height of the viewport */
    background: radial-gradient(circle,  rgb(252, 222, 241) 15%, rgb(247, 201, 230) 50%, rgb(245, 143, 208) 70%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative; /* Positioning context for the overlay */
    overflow: hidden; /* Prevent overflow */
    z-index: 1;
}
.clock-container::after {
    content: '';
    position: absolute; /* Position the overlay absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/grainOverlay2.png'); /* Path to your grain texture */
    background-size: cover; /* Ensure the grain texture covers the entire area */
    opacity: 0.17; /* Adjust opacity for the desired effect */
    pointer-events: none; /* Prevent interaction with the overlay */
    z-index: 2;
}
.clock-container label{
    margin-left:2%;
    font-size: 1rem;
}
.clock-container select{
    border-radius: 5px;
    font-size: 1rem;
}
.clock{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
    font-family: "Gabriela", serif;
    font-size: 5rem;
    text-shadow: 2px 2px rgb(249 232 243);
    padding:2%;
}